
.main_container{
.rules_again{
	display: inline-block;
	position: absolute;
	margin-right: 10%;
}
	text-align: center;
	.description{
		text-align:center; 
		display: inline-block;
		width: 50%;
		p{
			text-align: left;
		}
		.gotit{
			outline: none;
			display: inline-block;
			width:249px;
			height: 59px;
			border:1px solid #56c7ff;
			color:white;
			border-radius:4px;
			background: #56c7ff;	
			font-size: 15px;

		}
		.gotit:hover{
			cursor: pointer;
		}
		input.gotit:active{
			box-shadow: inset 0px 0px 8px black;
			outline: none;
			border:none;
			
		}
	}
	.cap{
		display: none;
		position: absolute;
		top: -24px;
		border-radius:4px 4px 0px 0px;
		height: 20px;
		right: 37%;
		display: inline-block;
		width: 24%;
		background-color: transparent;
		border:2px solid black;
	}
	.perks1_container{
		margin-top: 70px;
		position: relative;
		display: inline-block;
		opacity: 0;
		width: 30%;
		padding: 5px;
		border:2px solid black;
		border-radius:4px;
		transition: all .4s ease-in-out;
	.perks_a{
		display: none;
		width: 100%;
		opacity: 0;
		.perk{
			display: inline-block;
			width: 100%;
			min-height: 24px;
			border-radius:4px;
			margin-bottom: 4px;
			background-color: #56c7ff;
		.fixer{
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		p{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		}
		.perk:last-child{
			margin-bottom: 0;
		}
		.perk:hover{
		}
	}
	}
	.perks_b{
		display: none;
		width: 100%;
		opacity: 0;
		.perk{
			display: inline-block;
			width: 100%;
			min-height: 24px;
			border-radius:4px;
			margin-bottom: 4px;
			background-color: #56c7ff;
		.fixer{
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		p{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		}
		.perk:last-child{
			margin-bottom: 0;
		}
		.perk:hover{
		}
	}
	.done_button{
			display: block;
			margin: auto;
			outline: none;
			width:249px;
			height: 59px;
			border:1px solid #56c7ff;
			color:white;
			border-radius:4px;
			background: #56c7ff;	
			font-size: 15px;
			bottom: 3%;
			opacity: 0;

	}
	.done_button:hover{
		cursor: pointer;
	}
	input.done_button:active{
			box-shadow: inset 0px 0px 8px black;
			outline: none;
			border:none;

		}
		#test_done{
			display: none;
			margin: auto;
			outline: none;
			width:249px;
			height: 59px;
			border:1px solid #56c7ff;
			color:white;
			border-radius:4px;
			background: #56c7ff;	
			font-size: 15px;
			opacity: 1;

		}
		#test_done:hover{
			cursor: pointer;
		}
		input#test_done:active{
			box-shadow: inset 0px 0px 8px black;
			outline: none;
			border:none;

		}
	#answers1{
		@extend .perks1_container;
		display: none;
	}
}
.perks_a_data,.perks_b_data{
	display: inline-block;
}
.tables{
	display: none;

	table{
		margin-top: 40px;
		margin-bottom: 20px;
		border:1px solid black;
		border-collapse:collapse;
			
			td{
				border:1px solid black;
				width: 100px;
				height: 20px;
			}
			th{
				border:2px solid black;
			}
	}
}

