
.usr_wrapper{
	display: block;
}
.usr{
	width: 400px;
	display: inline-block;
}
.kettel{
	width: 100px;
display: inline-block;
}
.relief{
	width: 200px;
	display: inline-block;
}
.rokich{
	width: 100px;
display: inline-block;
}